{%load common_tags%}
<div class="comment-node" id="comment-{{ node.id }}">
    <div class="comment-content">
        <div class="comment-meta">
            {% include "users/includes/user_badge.html" with user=node.author%}
            <span>{{ node|render_creation_time }}</span>
        </div>
        <div class="comment-text mb-2">
            <p>{{ node.text|linebreaks }}</p>
        </div>
        <div class="comment-actions d-flex align-items-center mb-2">
            {% if user.is_authenticated %}
                {% include "comments/like_area.html" with node=node %}
                <button class="icon-btn" title="Reply" 
                        onclick="document.getElementById('reply-box-{{ node.id }}').open = !document.getElementById('reply-box-{{ node.id }}').open">
                    <i class="fa-solid fa-reply"></i>
                </button>
                {% if node.author == request.user %}
                    <button class="icon-btn" title="Edit"
                            hx-get="{% url 'comments:edit' node.id %}" 
                            hx-target="#comment-{{ node.id }}" 
                            hx-swap="outerHTML">
                        <i class="fa-solid fa-pen"></i>
                    </button>
                    <button class="icon-btn" title="Delete"
                            hx-post="{% url 'comments:delete' node.id %}"
                            hx-target="#comment-{{ node.id }}" 
                            hx-swap="outerHTML">
                        <i class="fa-solid fa-trash"></i>
                    </button>
                {% endif %}
            {% endif %}
        </div>
    </div>
    <details id="reply-box-{{ node.id }}">
        <summary class="hidden-summary"></summary> <form hx-post="{% url 'comments:add' node.article.id %}"
              hx-target="#children-{{ node.id }}" 
              hx-swap="beforeend"
              hx-on::after-request="this.closest('details').removeAttribute('open'); this.reset();"
              class="reply-form mb-3 border-start border-2 ps-3 border-secondary">
            {% csrf_token %} <input type="hidden" name="parent" value="{{ node.id }}">
            <textarea name="text" class="form-control" rows="2" placeholder="Reply..." required></textarea>
            <div class="mt-2">
                <button type="submit" class="btn btn-dark mt-2 btn-sm">Send</button>
                <button type="button" class="btn btn-dark mt-2 btn-sm" onclick="this.closest('details').removeAttribute('open')">Cancel</button>
            </div>
        </form>
    </details>
    {% if not node.is_leaf_node %}
        <details close class="mt-2"> 
            <summary class="reply-summary text-primary mb-2"> <i class="fa-solid fa-chevron-down"></i> Replies {{ node.get_descendant_count }}
            </summary>
            <div class="children" id="children-{{ node.id }}">
                {{ children }} 
            </div>
        </details>
    {% else %}
        <div class="children" id="children-{{ node.id }}"></div>
    {% endif %}
</div>