#Rename this file to .env and fill all fields
#Data Base Settings
DB_ENGINE = "django.db.backends.postgresql"
DB_HOST = "db"
DB_PORT = 5432
DB_PORT_EXTERNAL=5432
DB_NAME = "articles_project"
DB_USER = ""
DB_PASSWORD = ""