/*articles page styles*/
.articles-page-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.search-field{
    margin: 25px;
    width: 100%;
    max-width: 450px;
}

.pagination {
    list-style: none;
    text-decoration: none;
    padding: 0;
}

.pagination .page-link {
    background-color:#b8b8b8 !important;
    border-color:#b8b8b8 !important;
    color: black;
}

.article-card {
    display: flex;
    flex-direction: column;
    gap: 10px;  
    width: 450px;
    height: 200px;
    margin: 25px;
    padding:20px;
    background: white;
    border:3px solid black;
    border-radius: 8px;
    color: black;
}

.article-card h3,.article-card p {
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.article-card i{
    font-style: normal;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
}

.btn-more{
    background-color:#b8b8b8 !important;
    border-color:#b8b8b8 !important;
    align-self: flex-start;
}

.article-stats {
    display: flex;
    gap: 15px;
}

.article-list {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.article-list h1{
    margin: 0;
    color:white;
}

/* article create form */
.article-create{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.create-form {
    width: 500px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.form-control{
    margin-bottom: 20px;
}

.article-create h1{
    color:white;
}

/* article details page styles */

.article-details-content {
    color: white;
    gap: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.article-details-content p, .article-details-content h3{
    margin: 0;
    max-width: 800px;
    overflow-wrap: break-word;
    word-break: break-word;
}

.article-details-content a{
    text-decoration: none;
}

.article-details-content .author{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

