{% extends 'base/sidebar.html' %}
{% load static%}
{%block title%}Articles{%endblock%}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'articles/css/articles.css' %}">
{%endblock%}
{% block content %}
<div class="articles-page-wrapper">
    <div class="search-field">
        <form method="get" class="mb-3">
            <input type="text" name="q" value="{{ query }}" placeholder="Search..." class="form-control">
        </form>
    </div>
    <div class="article-list">
        <h1 class="text-center">Articles</h1>
        {%for article in page_obj%}
            {%include 'articles/includes/article_card.html'%}
        {%endfor%}
    </div>
    {% include "articles/includes/pagination.html"%}
</div>
{% endblock %}