{%extends 'base/sidebar.html'%}
{%load static%}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'articles/css/articles.css' %}">
{%endblock%}
{%block content%}
    <div class="articles-page-wrapper">
        <div class="article-list">
            <h1 class="text-center">Your liked articles ({{articles_count}})</h1>
            {%for article in page_obj%}
                {%include 'articles/includes/article_card.html'%}
            {%endfor%}
        </div>
        {% include "articles/includes/pagination.html"%}
    </div>
{%endblock%}