{% extends 'base/sidebar.html' %}
{% load static%}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'articles/css/articles.css' %}">
    <link rel="stylesheet" href="{% static 'users/css/users.css' %}">
{%endblock%}
{%block content%}
<script src="https://unpkg.com/htmx.org@1.9.10"></script>
<div class="profile-page-wrapper">
    <div class="profile-info" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
        {% if user.avatar %}
            <img class="avatar" src="{{ user.avatar.url }}">
        {% else %}
            <div class="empty-avatar">
                <span>{{ user.username|make_list|first|upper }}</span>
            </div>
        {% endif %}
        <h1>{{ user.username }}</h1>
        {% if user.bio %}
            <p>{{ user.bio }}</p>
        {% endif %}
        <p>{{user.followers.count}} Followers</p>
        {%if request.user != user and request.user.is_authenticated%}
            {% include "users/follow_area.html" with target_user=user%}
        {%endif%}
        {% if user == request.user %}
            <a href="{%url 'users:profile_edit'%}"><i class="fa-solid fa-pen"></i> edit profile</a>
            <form action="{%url 'users:profile_delete'%}" method="post">
                {% csrf_token %}
                <button class="icon-btn"><i class="fa-solid fa-trash"></i> delete profile</button>
            </form>
        {% endif %}
    </div>
    <div class="articles-page-wrapper">
        <div class="article-list">
            <h1 class="text-center">User articles ({{articles_count}})</h1>
            {% for article in page_obj %}
                {%include 'articles/includes/article_card.html'%}
            {% endfor %}
        </div>
        {% include "articles/includes/pagination.html"%}
    </div>
</div>
{%endblock%}