/* base side-bar styles */

body {
    background: #2c2c2c;
}

.base-sidebar {
    display: flex;        
    align-items: flex-start; 
}

.base-sidebar aside {
    background: white;
    width: 10%;
    padding: 2.5%;
    height: 100vh;
    color: #2c2c2c;
    border-right: 5px solid black;
    position:sticky;
    top: 0;        
    flex-shrink: 0;
    min-width: 250px;
    box-sizing: border-box;
}

.base-sidebar .nav-bar {
    list-style: none;
    text-decoration: none;
    padding: 0;
}

.nav-item {
    margin-top: 20px;
}

.nav-item a:not(.btn), .nav-item .icon-btn {
    color: black;
    display: block;
    width: 100%;
    text-align: left;
    padding: 0;
    font-size: 1rem;
    font-family: inherit;
    transition: transform .5s ease, color .3s ease;
    text-decoration: none;
    background: none;
    border: none;
    cursor: pointer;
}

.nav-item a:not(.btn):hover, .nav-item .icon-btn:hover {
    transform: scale(1.1);
}

.btn-create-article {
    background-color: #b8b8b8 !important;
    border-color:#b8b8b8 !important;
}

/* block content styles */
main {
    flex: 1;
    padding: 50px 20px;
}

html{
    scrollbar-gutter: stable;
}

/* main page styles */

.main-page-wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main-page-wrapper h1{
    color: white;
    text-align: center; /*FIX*/
}

/* about page styles */

.about-page-wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.about-page-wrapper h1,.about-page-wrapper p, .about-page-wrapper h3{
    color: white;
    margin: 10px;
}

.about-page-wrapper .project-brief-info {
    max-width: 450px;
    overflow-wrap: break-word;
    word-break: break-word;
    text-align: center;
}

.contacts-list, .stack-list{
    list-style: none;
}

.stack-list{
    display: flex;
    gap: 20px;
    margin:10px;
}

.features-list li{
    color: white;
}